h1{
  font-weight: normal;
}

.cards{
  display: flex;
  flex-wrap: wrap;
}
.buttons{
  margin: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  button{
    font-size: 1.5em;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    border: solid 2px crimson;
    color: crimson;
    cursor: pointer;
    transition: 0.3s;

    &:hover{
      background-color: crimson;
      color: white;
    }
  }

}
